@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;

    text-transform: uppercase;

    font-family: 'Montserrat', sans-serif;

    color: #fff;
}

body {
    background-image: url(background-first-block.png);
    background-size: cover;
    background-repeat: no-repeat;

    width: 100vw;
    height: 100vh;
}

a {
    text-decoration: none;
}

.toolbar-item-link:after {
    background-color: #fff;
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    opacity: 0.7;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.toolbar-item-link:hover:after,
.toolbar-item-link:focus:after {
    width: 100%;
}

.bold-text {
    font-weight: 700;
}

.container {
    position: fixed;
    box-sizing: border-box;
    width: 100vw;
    max-width: 2000px;
    height: 100vh;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 2vh 5vw;
    display: flex;
    flex-wrap: wrap;
}

.header,
.main,
.footer {
    flex-basis: 100%;
}

.header {
    justify-content: right;
}

.registration {
    display: flex;
    justify-content: right;
    align-items: center;

    width: 100%;
}

.registration-name {
    font-weight: 300;
}

.personal-account-link {
    font-size: 4.5em;
    margin-left: 0.5em;
    color: #fff;
}

/*header end*/

/*main*/
.main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: stretch;

    margin: 0 auto;
}

.left-sidebar,
.main-content,
.right-sidebar {
    flex-basis: 33%;
}

/*left sidebar*/
.left-sidebar {
    display: flex;
    align-items: center;
}

.toolbar-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    justify-content: space-between;
}

.toolbar-item {}

/*main content*/

.main-content {
    text-align: center;
    align-items: center;
}

.company-name {
    font-size: 9rem;
    letter-spacing: 1rem;

    opacity: 0.85;
}

.company-subname {
    text-transform: none;
    letter-spacing: 0.13rem;

    opacity: 0.65;
}

.main-content-buttons {
    margin-top: 5rem;
}

.main-button {
    background-color: #fff;
    color: #000;
    font-weight: 700;
    font-size: 1.2rem;

    padding: 1rem 5rem;
    margin: 0 1rem;

    border-radius: 12rem;

    -webkit-box-shadow: 5px 3px 1px 1px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 5px 3px 1px 1px rgba(0, 0, 0, 0.18);
    box-shadow: 5px 3px 1px 1px rgba(0, 0, 0, 0.18);

    opacity: 0.6;
}

.main-button:hover {
    opacity: 0.95;
}

/*right sidebar*/
.right-sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.points-i {
    display: flex;
    flex-direction: column;
    height: 50%;
    align-items: center;
    justify-content: space-between;
}

.point-item {
    width: 0.4rem;
    height: 0.4rem;

    background-color: #fff;
    border-radius: 100%;
}

.point-item:hover {
    width: 1rem;
    height: 1rem;
}

/*footer*/

.footer {
    align-self: center;
}


/*contact-container*/

.contacts-container {
    width: 30%;
    height: 2px;

    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 67%, rgba(255, 255, 255, 1) 100%);
    opacity: 0.5;
}






/*mobile-ver*/
@media (max-width: 640px) {
    body {
        background-image: url(background-first-block-mobile.png);
        background-size: cover;
    }

    .container {
        padding: 7vh 5vw;
    }

    .main {
        flex-wrap: wrap;
        justify-content: center;
    }

    .company-name {
        font-size: 3rem;
    }

    .company-subname {
        font-size: 1rem;
    }

    .left-sidebar {
        order: 2;
    }

    .toolbar-list {
        text-align: center;
        align-items: center;
    }

    .toolbar-item {
        flex-basis: calc(100vh / 15);
    }

    .right-sidebar {
        display: none;
    }

    .navbar {
        width: 95%;
        float: none;
        margin: 0 auto;
    }

    .main-content-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .main-button {
        margin-bottom: 5%;
    }
}

/*mobile end*/